MONGO_URI=mongodb://localhost:27017/fish_freshness
PORT=5000
JWT_SECRET=super_secret_long_random_string_change_this_123!
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@tnovasolutions.com
ADMIN_PASSWORD=ChangeMe123!